#bannerimage {
    width: 100%;
    background-image: url(http://s30.postimg.org/x0ne0p5wx/bootsrap.png);
    height: 300px;
    background-color: rgba(52, 19, 36, 0.886);
    background-position: center;
  }
#bannerimage h1{
    font-size: 80px;
    font-weight: 600;
    color: rgb(214, 192, 101);
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
#bannerimage p{
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
}